
body{
  margin: 0;

  text-align: center;
  font-family: verdana,sans-serif;
  line-height: 2;
}
h1{
padding-top: 50px;
  width: 23%;
  margin:0 auto 0 auto;
  font-size: 31px;
  color: #66BFBF;
}
h2{
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.5rem;

}
h3{
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container{
  background-color: #B9FFF8;
  position: relative;
  height: 100%;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px 0;
}
.my-skill-p{
  text-align: center;
  width: 50%;
  margin: 100px auto 100px auto;
}
.web{
  text-decoration: underline;
}
.top_cloud{
position: absolute;
right: 300px;
top: 50px;
}
.bottom-colud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.myimg

  { display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; }
  .myimg img { width: auto; height: 100%; margin-left: -50px; }
.developer-img{
  height: 200px;
  width: 200px;
}
.developer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.Java-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: verdana,sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 30px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
  color: #11999e;
    font-family: verdana,sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color: #Eaf6f6;
}
.copyright{
  color: #eaf6f6;
  font-size: .75rem;
  padding: 20px 0;
}
